.custom-background{
    background: linear-gradient(315deg, rgba(56,154,206,1) 0%, rgba(2,90,136,1) 47%);
}

.btn-block {
    display: block;
    width: 100%;
}

.text-justify{
    text-align: justify;
}