{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Iniciar sesión {% endblock %}

{% block body %}
<div class=""> <!-- custom-background -->
    <div class="container h-100">
        <div class="row h-100 justify-content-center aligns-items-center">
            <div class="col-12 col-md-5 col-lg-5 bg-white rounded my-3 p-5">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    <h1 class="h3 mb-3 font-weight-normal text-center">Iniciar sesión</h1>
                    <label for="inputEmail">Correo electrónico:</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Contraseña:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    
                    <div class="checkbox mt-2">
                        <label>
                            <input type="checkbox" name="_remember_me"> Recordar sesión
                        </label>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-md btn-success" type="submit">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
